gunicorn
Flask==3.0.0
flask-cors==4.0.0
numpy>=1.26.0
pillow>=10.0.0
Werkzeug==3.0.1

# For model training and inference (uncomment when ready)
# tensorflow==2.15.0
# keras==2.15.0
# opencv-python==4.8.1.78
# scipy==1.11.4
tensorflow-cpu
